
<ion-header>
 
  <ion-toolbar color="dark">
      <ion-button size = "small" fill ="clear" slot ="end"
      shape= "round"
      (click)="getUserList()" >
        

          <ion-icon slot="end" color="light" name="refresh"></ion-icon>
      </ion-button>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-list-header color= "secundary">
      <ion-label>Lista de usuarios aleatorios</ion-label>
    </ion-list-header>
  
    
    <ion-item *ngFor= "let x of userList;let i=index"  [routerLink]="['/', 'usuarios', i ]" >
     
      <ion-avatar>
        <img [src]="x.picture.medium">
  
      </ion-avatar>
      <ion-label>
        <h3>{{x.name.first}}.   {{x.name.last}}</h3>
        <p>{{x.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
